@import "lato.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Lato", Verdana, sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 940px;
  margin: auto;
}

.footer {
  background-color: #2d303a;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 22px;
}

.footer__copyright {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: -0.014rem;
  margin-top: 20px;
  color: #666d89;
}

.quote {
  background-color: #f06c64;
  border-bottom: 6px solid #ea666b;
  padding-bottom: 29px;
}

.quote__wrapper {
  padding: 68px 0 19px;
}

.quote__title {
  font-size: 3rem;
  letter-spacing: -0.02rem;
  line-height: 1.8rem;
  font-weight: 900;
  color: #f0d8d9;
}

.quote__description {
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.001rem;
  font-weight: 300;
  margin-top: 27px;
  text-align: justify;
  color: #f0d8d9;
}

.quote__content {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}

.quote__form {
  max-width: 619px;
}

.quote__input, .quote__textarea {
  font-family: "Lato";
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 400;
  padding: 7px 14px 9px;
  width: 100%;
  border: none;
  margin-bottom: 16px;
  border-radius: 5px;
  color: #f0d8d9;
  background-color: #d6564f;
}

.quote__textarea {
  resize: none;
  height: 202px;
}

.quote__input::placeholder, .quote__textarea::placeholder {
  font-family: "Lato";
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 400;
  color:  #f48c8f;
}

.quote__textarea::placeholder {
  letter-spacing: 0.02rem;
}

.quote__button {
  font-family: "Lato";
  font-size: 1.2rem;
  font-weight: 400;
  background-color: #d6464f;
  color: #f48c8f;
  padding: 5px 30px;
  border-radius: 5px;
  border: 1px solid #6a6a6a;
  cursor: pointer;
}

.quote__button:hover {
  color: #fff;
}

.contact__info {
  max-width: 301px;
  color: #f0d8d9;
}

.contact__info_title {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 900;
}

.contact__info_description {
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 400;
  letter-spacing: -0.02rem;
  margin-top: 10px;
  text-align: justify;
}

.contacts {
  margin-top: 19px;
}

.contact {
  display: inline-flex;
  align-items: center;
  margin: 0;
}

.contact__location, .contact__phone, .contact__mail {
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 400;
  width: 300px;
  margin-left: 11px;
  color: #f0d8d9;
}

.contact__phone, .contact__mail {
  text-decoration: none;
}

.ico {
  display: inline-block;
}

.ico__location {

  width: 7px;
  height: 11px;
  margin-left: 4px;
}

.ico__phone {
  width: 11px;
  height: 11px;
  margin: 0 0 1px 2px;
}

.ico__mail {
  width: 13px;
  height: 8px;
  margin-left: 1px;
}

.ico__social {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 22px;
  width: 152px;
}

.facebook {
  width: 8px;
  height: 14px;
}

.google, .twitter, .linkedin {
  width: 14px;
  height: 14px;
}

.circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  height: 59px;
  border-radius: 50%;
  border: 1px solid #666d89;
}

.little_circle {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.little_circle:hover {
  width: 40px;
  height:40px;
}